/* Estilos específicos para telas até 640px */
@media only screen and (max-width: 640px) {
    .menu {
        display: block;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--cor-secundaria);
        gap: -10px;
        transition: all 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-item a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
    }


    .loja {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .loja .sobre-nos {
        display: block;
        font-size: 1em;
        margin-top: 48px;
    }

    .loja .sobre-nos img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .minha-grid ul {
        display: block;
    }


    .container-flex li h3 {
        font-size: 32px;
    }

}
